* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-size: 16px;
    background: url("../../images/my_bg.jpeg") fixed center no-repeat;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #333;
}

a img {
    border: none;
}

.clear {
    clear: both;
}

/* .img:hover img {
    opacity: .7;
    filter: alpha(opacity=70)
} */

.img img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#right {
    width: 890px;
    background: #fff;
    padding: 30px 0;
    float: right;
    font-size: 18px;
    margin-bottom: 50px;
}

#right .post {
    margin: 0 30px 30px 30px;
    color: #000;
    line-height: 30px;
    padding-left: 10px;
}

#right .post h3 {
    color: #000;
    line-height: 50px;
    font-size: 20px;
}

#right .post p {
    line-height: 30px;
    color: #666;
}

#right .post span.time {
    height: 50px;
    font-size: 25px;
    width: 100px;
    border-left: 10px solid #7182FF;
    line-height: 50px;
    color: #7182FF;
    padding-left: 10px;
}

#input {
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    /*css3属性IE不支持*/
    padding-left: 5px;
}

#comment input {
    width: 120px;
    height: 40px;
    background: #7182FF;
    color: #fff;
    border: 0;
}

#comment textarea {
    width: 100%;
    height: 120px;
}

#left {
    width: 300px;
    float: left;
}

#photo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
}

#photo img {
    width: 80px;
    height: 80px;
    margin: 0 auto 50px;
}

#blogtitle {
    width: 70px;
    height: 130px;
    margin-top: 20px;
}

#blogtitle h1 {
    font-size: 70px;
    text-align: center;
    line-height: 90px;
}

#blogtitle h1 a {
    color: #7182FF;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease
}

#blogtitle h1 a:hover {
    color: #fff;
}



#blogtitle3 h3 a {
    color: #7182FF;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease
}

#blogtitle3 h3 a:hover {
    color: #fff;
}

#nav {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#nav li {
    width: 130px;
    color: #fff;
    margin-bottom: 20px;
    background: #7182FF;
}

#nav li a {
    color: #fff;
}

#centerTable {
    margin: 0px auto
}

#centerTable input {
    margin-left: 10px;
    border: 0.5px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    /*css3属性IE不支持*/
    padding-left: 5px;
    margin-bottom: 20px;
}


/* 展示已发帖子样式 */

.post_num {
    min-width: 60px;
    padding: 20px 16px;
    background: url("../../images/postNum_dialog.png") center no-repeat;
    background-size: 100% 70%;
    text-align: center;
    margin: auto 0;
}

.post_contain {
    margin: 0 30px;
    width: 100%;
    font-size: 80%;
}

.post_contain .post_detail {
    color: #9F9F9F;
}

.post_member {
    width: 100px;
    text-align: end;
    margin-right: 20px;
    font-size: 80%;
    color: #ACACAC;
}

.block {
    display: block;
}

.post_form {
    margin: 20px 0;
}

.send_post {
    text-align: center;
}

.send_post #post_title {
    width: 90%;
    text-align: center;
    display: inline-block;
}

.send_post #num_counter {
    position: absolute;
    right: 80px;
    line-height: 30px;
    color: #999;
}

.send_post #title {
    width: 100%;
    margin: 0 0 20px 0;
}

.send_post #post_contain {
    width: 90%;
    text-align: end;
    display: inline-block;
}

.send_post #contain {
    resize: none;
    width: 100%;
    height: 200px;
}


.hint {
    display: block;
    color: crimson;
    font-size: small;
    margin: -25px 0 25px 5px;
    text-align: right;
}